@{
    ViewData["Title"] = "Landing Page";
}


<h1 class="text-Primery">Bulky Books Landing Page</h1>
<p class="lead">
    Lorem ipsum Bulky Books sit amet consectetur adipisicing elit. Error Bulky Books Bulky Bookse cum odio facilis deleniti,
    excepturi
    dicta incidunt ducimus ea! Dignissimos quibusdam voluptatum ab architecto illo hic labore laudantium eaque!
</p>