@{
    ViewData["Title"] = "Landing Page";
}


<h1 class="text-Primery">Landing Page</h1>
<p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolor dolore cum odio facilis deleniti,
    excepturi
    dicta incidunt ducimus ea! Dignissimos quibusdam voluptatum ab architecto illo hic labore laudantium eaque!
</p>